
@{
    ViewBag.Title = "CartItemDetails";
}

@model OnlineFoodOrdering.Models.FoodItem

@using OnlineFoodOrdering.Models


<h2>
    @((Session["customer"] as Customer).userName)
</h2>

<h2>CartItemDetails</h2>



<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            <img src="http://placekitten.com/400/252" />
                        </div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">@Model.name </h3>

                    <h4> price: $<span class="itemPrice">@Model.price</span></h4>
                    <input type="number" id="quantity" class="form-control" min="1" max="10" value="1" />
                    <h3 >Total price: $<span class="totalPrice">@Model.price</span></h3>

                    <div class="action">
  
                        <button class="btn btn-default">
                            @Html.ActionLink("Add to cart", "ModifyCartItem", "CartItem",
                                new
                                {
                                    cartId = (Session["customer"] as Customer).id,
                                    foodItemId = @Model.id
                                    //quantity is sent via j-query
                                }, new { id = "addToCart" })
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    @Scripts.Render("~/bundles/jquery")


    <script>


        $(document).ready(function () {

            $("#addToCart").click(function () {
                $(this).attr("href", $(this).attr("href") + "&quantity=" + $("#quantity").val());
            });

            var itemPrice = $(".itemPrice")
            var totalPrice = $(".totalPrice")

            $("#quantity").change(function () {
                var qty = $(this).val();

                totalPrice.text(parseFloat(itemPrice.text()) * qty)

            })


        });

    </script>

}
